{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
    <link rel='stylesheet' href='{% static "css/index.css" %}'>
    <link rel='stylesheet' href='{% static "fonts/fonts.css" %}'>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    {% include 'web/banner.html' %}
    {% include 'web/about.html' %}
    {% include 'web/speakers.html' %}
    {% include 'web/speakers-bottom.html' %}
    {% include 'web/sponsor.html' %}
    {% include 'web/code-of-conduct.html' %}
    {% include 'web/code-of-conduct-bottom.html' %}
  </body>
</html>
