<section class="speakers-section">
  <div class="content">
    <div class="title">
      Speakers
    </div>
    <div id="keynotes"></div>
    <div class="other-speakers">
      <div class="container">
        <div class="row">
          {% for other_speaker in other_speakers %}
            <div class="col-sm-3 other-profile">
              <img class="other-image img-circle" src="{{ other_speaker.image.url }}"/>
              <div class="other-name">
                {{ other_speaker.name }}
              </div>
              <div class="other-company">
                {% if other_speaker.job_title and other_speaker.company_name %}
                  {{ other_speaker.job_title }}, {{ other_speaker.company_name }}
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
